@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body {
	width: 800px;
	margin: auto;
}
#header{
	font-family: 'Titillium Web', sans-serif;
	margin-top:35%;
	text-align: center;
	font-size: 2em;
}
#header h1{
	margin:0;
}

#header input {
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	font-size: 0.8em;
}

#header button {
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	font-size: 0.8em;
}

#submit-search:hover  {
	background:#eee;
	border-color:#99f;
}
.item {
	border-style:solid;
	border-width:1px;
}

#properties{
	display:none;
}

#content {
	display:block;
}

#loading {
	display:none;
	margin:auto;
	margin-top:35%;
	width: 37px;
	height:37px;
}
#toggle{
	display:none;
}

div.item{
	height:140px;
	width:inherit;
}
.item-image{
float:left;
width: 150px;
}
.item-name {
margin-left: 5px;
}
.item-rating {
padding-right: 10px;
float:right;
}	
.item-price {
float: right;
padding-right: 10px;
}
item-featured{
padding-left:5px;
}

#error{
display:none;
}