@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

/* ----- primary structure ----- */
body {
	width: 800px;
	margin: auto;
	font-family: sans-serif;
}

#header{
	font-family: 'Titillium Web', sans-serif;
	margin-top:35%;
	text-align: center;
	font-size: 2em;
}

#content {
	display:none;
}

/* ----- Title ----- */
#header h1{
	margin:0;
}

/* ----- Search ----- */
#header input {
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	font-size: 0.8em;
}

#header button {
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	font-size: 0.8em;
}

#header button:hover  {
	background:#eee;
	border-color:#99f;
}
/* Properties */
#properties{
	display:none;
}

#properties p{
    display:inline;
}

/* ----- Item List Style ----- */
.item {
	border-style:solid;
	border-width:1px;
	height:140px;
	width:inherit;
	margin: 4px;
}

.item-left{
width:264px;
height:140px;
float: left;
}

.item-middle{
width: 263px;
height: 140px;
float: left;
}

.item-right{
width:263px;
height:140px;
float: left;
}

.item-image{
width: 190px;
}

.item-name {
margin-left: 5px;
font-size:1.5em;
padding-top: 20px;
width: 100px;

}

.item-rating {
text-align: right;
padding-right: 50px;
padding-top:20px;
}	

.item-price {
padding-top: 20px;
padding-right: 50px;
text-align:right;
font-size:1.5em;
}

.item-featured{
width:150px;
height:140px;
top: -146px;
position:relative;
}

#loading {
	display:none;
	margin:auto;
	margin-top:35%;
	width: 37px;
	height:37px;
}

/* ----- Error ----- */
#error{
display:none;
}